@font-face{
    font-family: "Rubik";
    src: url(../learn\ tlwind\ css/font/static/Rubik-Regular.ttf);
}
@font-face{
    font-family: "Rubik-Black";
    src: url(../learn\ tlwind\ css/font/static/Rubik-Black.ttf);
}
@font-face{
    font-family: "Rubik-Medium";
    src: url(../learn\ tlwind\ css/font/static/Rubik-Medium.ttf);
}
@font-face{
    font-family: "Rubik-SemiBold";
    src: url(../learn\ tlwind\ css/font/static/Rubik-SemiBold.ttf);
}

span{
    font-family: "Rubik-Medium";
}
button{
    font-family: "Rubik-SemiBold";
}